::selection {
    color: white;
    background-color: rgba(0, 0, 0, .99); /* 1. does not work */
}

body, li p {
    font-variant-ligatures: common-ligatures;
    font-family: 'Latin-Modern', serif;
}

body, p {
    -webkit-font-smoothing: antialiased;
    text-wrap: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.7em;
    font-family: 'Helvetica Neue', sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    color: red;
}

header div a {
    font-family: 'Helvetica Neue', sans-serif;
}

aside + a {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 0.2rem 0 0.2rem 0;
    border-bottom: 0.10em solid black;
    background: white;
}

/* Black Full Width header start */
.black-header {
    background: black !important;
    max-width: 100% !important;
}

.black-header > * > a {
    color: #dedede !important;
}

.black-header > div {
    max-width: 32em;
    align-self: center;
    margin: auto;
}

/* Black Full Width header End */

header, header.a {
    font-weight: bold;
}

header a {
    margin-right: 20px;
}

@media all {
    html {
        font-size: 20px;
    }

    body > * {
        max-width: 32em;
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 840px) {
    html {
        font-size: 19px;
    }

    .content {
        margin-top: 17px;
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        box-sizing: border-box;
    }
}

@media all and (max-width: 580px) {
    html {
        font-size: 18px;
    }

    .content {
        margin-top: 8px;
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        box-sizing: border-box;
    }
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;

    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga' 1;
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

div.content {
    display: block;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

div.content a {
    border-bottom: dotted black 1px;
}

footer {
    margin: auto auto 0 auto;
    width: 100%;
    border-top: solid black 1px;
}
footer p {
    margin: 0 0 0 0;
}

@media all and (max-width: 520px) {
    div.content {
        padding: 0;
    }
}

h1 {
    display: block;
    font-size: 170%;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 0.02em;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

aside {
    font-size: 0.84rem;
    line-height: 1.40;
    color: #4a4a5b;
}

aside a {
    text-decoration: underline double;
    border-bottom: none !important;
}
aside a:hover {
    border-bottom: none !important;
}

aside em {
    font-size: 0.7rem;
}

p {
    margin-bottom: 1.4em;
}

div > p:first-of-type:first-letter {
    font-size: 3em;
    float: left;
    margin-bottom: -0.1em;
}

ul, ol {
    margin-bottom: 1em;
    padding-left: 1em;
}

li {
    margin-left: 0.75em;
    text-align: left;
    list-style: upper-roman;
    margin-bottom: .3em;
}

li + a {
    background: #000;
}

li li {
    list-style: upper-alpha;
}

table {
    margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 95%;
}

table tr + tr {
    border-top: 1px solid #ccc;
}

table td + td {
    border-left: 1px solid #ccc;
}

table td {
    padding: 0.4em;
    text-align: center;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

table th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 95%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    line-height: 1.05;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

div.nav a:active div {
    background: #cacaca;
}

a:active {
    color: #777;
}

a:hover {
    border-bottom: solid black 1px !important;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

li p a {
    color: #0366d6;
}

li a {
    color: #004dc5;
    border-bottom: none !important;
}

code {
    font-size: 85%;
    margin-bottom: 20px;
    background-color: #F4F4F5;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 3px;
}

figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 0.7em/1.52;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
}

blockquote {
    border: 1px dotted black;
    border-left: 10px solid #0059ff;
    margin: 0.7em 10px 0 0;
    padding: 0.7em 20px 0;
}

blockquote blockquote {
    border-left: 5px solid #0059ff;
}

blockquote blockquote blockquote {
    border-left: 1px dotted black;
}

blockquote p {
    display: inline;
}

code.hljs {
    border: solid black 1px;
    border-radius: 0;
}
